<!DOCTYPE html>
<html lang="en" xmlns:th=”http://www.thymeleaf.org” xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>iview example</title>
    <link rel="stylesheet" type="text/css" href="/static/vendor/iview/iview.min.css">
</head>
<body>
<div id="app" style="text-align: center;">
    {{message}}
    <div v-bind:title="message">dff</div>
    <p v-if="show" v-on:click="toggle">show</p>
    <ul>
        <li v-for="i in list">{{i}}</li>
    </ul>
    <input v-model="message">
    <ol>
        <!-- 创建一个 todo-item 组件的实例 -->
        <todo-item></todo-item>
    </ol>

</div>

<script type="text/javascript" src="/static/vendor/vue/vue.min.js"></script>
<script type="text/javascript" src="/static/vendor/iview/iview.min.js"></script>
<script type="text/javascript" src="/static/js/vue/vue.js"></script>
</body>
</html>